@import 'modules/mainmenu';
@import 'modules/portfolio';
@import 'modules/toolbar';
@import 'modules/details';
@import 'modules/timeline';
@import 'modules/biblebooksview';

.content {
   margin: 10%;
   flex: 1;
   width: 80%;

   @include setDeviceStyle(phone) {
      width: 100%;
      margin: 60px 0px 0px 0px;
      overflow: scroll;
   }
}

.heading {
   text-align: center;
   background-color: $white;
   width: 100%;
   max-width: 100%;
   color: $dkgray;

   @include setDeviceStyle(phone) {
      display: block;
      position: fixed;
      margin: 0px;
      padding: 3px;
   }
}

footer {
   background-color: $white;
   border-top: 2px solid $ltgray;
   height: 40px;
   width: 100%;
   bottom: 0px;
   position: fixed;

   @include setDeviceStyle(phone) {
      display: none;
   }
}

.policy {
   color: $black;
   text-align: center;
   padding: 10px;
}