@import 'modules/mainmenu';
@import 'modules/portfolio';
@import 'modules/toolbar';

.content {
   margin: 10%;
   flex: 1;
   width: 80%;

   @include setDeviceStyle(phone) {
      width: 100%;
      margin: 60px 0px 0px 0px;
      overflow: scroll;
   }
}

.heading {
   text-align: center;
   background-color: $white;
   width: 100%;
   max-width: 100%;
   color: $dkgray;

   @include setDeviceStyle(phone) {
      display: block;
      position: fixed;
      margin: 0px;
      padding: 3px;
   }
}

footer {
   background-color: $white;
   border-top: 2px solid $ltgray;
   height: 40px;
   width: 100%;

   @include setDeviceStyle(phone) {
      display: none;
   }
}

.policy {
   color: $black;
   text-align: center;
   padding: 10px;
}

.timeline {
   margin-top: 5px;
   border-collapse: collapse;
   table-layout: fixed;
   &--dateline {
      bottom: 40px;
      padding-bottom: 1vh;
      vertical-align: bottom;
   }
}

.events {
   &--row {
      border-bottom: 3px solid #fff;
   }
   &--event {
      background-color: $ltgray;
      width: 50%;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      padding: 10px;

      &:hover {
         background-color: $mdgray;
         cursor: pointer;
      }
   }

   &--content {
      display: none;
      color: $dkgray;
   }
}

.date {
   background-color: white;
   color: $dkgray;

   &:hover {
      cursor: pointer;
   }

   &--span {
      width: 33vw;

      @include setDeviceStyle(phone) {
         width: 100vw;
         font-size: 30px;
         /*visibility: hidden;*/
      }
   }
}
