.details {
   &--header {
      width: 100%;
      height: 40px;
      text-align: left;
      border-bottom: 1px solid $mdgray;
      line-height: 40px;

      @include setDeviceStyle(phone) {
         position: fixed;
         background-color: $ltgray;
      }
   }

   &--expand {
      text-align: center;
      float: left;
      width: 40px;
      height: 100%;
      border-right: 2px solid $mdgray;

      &:hover {
         cursor: pointer;
      }
   }

   &--title {
      text-align: center !important;
   }

   &--content {
      overflow: hidden;

      min-height: 100vh;
      display: block;
      width: 95%;

      ul {
         padding: 15px;
      }
   }

   &--section {
      padding: 15px 20px;
      width: 97%;
      text-align: left;
      border-bottom: 2px solid $mdgray;
   }
}