
.portfolio {
   border-collapse: collapse;
   table-layout: fixed;
   width: 80vw;

   @include setDeviceStyle(phone) {
      width: 280vw;
      margin: 40px auto;
   }


   &--item {
      border: 1px solid $ltgray;
      border-radius: 3px;
      padding: 25px;
      box-shadow: 5px 5px 5px 0px $mdgray;
      width: 25vw;

      @include setDeviceStyle(phone) {
         width: 75vw;
      }

      &--title {
         border-top: 1px solid $ltgray;
         padding: 5px;
         margin-top: 10%;
         text-align: center;
      }
      &--desc {
         color: $black;
         text-align: justify;
      }
      &--img {
         margin: 0 auto;
         display: block;
         width: 95%;
      }

      &:hover {
         box-shadow: 10px 10px 5px 0px $mdgray;
      }
   }
}