.toolbar {
   display: inline;
   position: fixed;
   bottom: 0px;
   width: 100%;
   background-color: #F2F2F2;

   @include setDeviceStyle(desktop) {
      height: 50px;
      padding: 10px 0px;
      left: 0px;
      bottom: 60%;
      display: block;
      width: 45px;
      text-align: center;
   }

   .tl-menubar-button {
      float: left;
      width: 18px;
      height: 18px;
      margin: 0px 5px;

      .tl-slidenav-next {
         float: left;
         top: 0px !important;
         left: 0px;

         padding: 5px;
      }
   }

   &--details {
      display: none;
      position: fixed;
      overflow-y: auto;
      right: 0px;
      top: 6.5%;
      z-index: 3;

      width: 30%;
      height: 91%;
      background-color: $ltgray;
      border-left: 2px solid $dkgray;

      @include setDeviceStyle(phone) {
         top: 55px;
         width: 95%;
      }
   }

   &--events {
      z-index: 300;
      position: fixed;
      top: 15%;
      left: 10%;
      width: 15%;
      padding: 25px 0px;
      border: 1px solid $mdgray;
      border-radius: 4px;

      background-color: $ltgray;

      @include setDeviceStyle(phone) {
         left: 0px;
         width: 100%;
         height: 100%;
      }

      .events--title {
         padding-bottom: 15px;
         border-bottom: 2px solid $dkgray;

         @include setDeviceStyle(phone) {
            text-align: center;
         }
      }

      .events--types {
         padding: 15px;
         text-align: left;
         height: 50%;
         overflow-y: scroll;
      }

      .events--ckb {
         padding: 15px;
         border-radius: 4px;
         border: 1px solid $mdgray;
         margin: 15px 0px;
      }

      .events--save {
         padding: 15px;
         border-radius: 4px;
         border: 1px solid $mdgray;
         margin: 15px 0px;

         @include setDeviceStyle(phone) {
            /*display: block;*/
            position: fixed;
            width: 80%;
            left: 5vw;
            bottom: 3vh;
            text-align: center;

            color: $dkgray;
            border: 1px solid $dkgray;
         }

         &:hover {
            color: $white;
            border: 1px solid $white;
            cursor: pointer;
         }
      }
   }

   &--selectyear {
      width: 100%;
      display: none;
      position: fixed;
      top: 15%;
      font-size: 1.7em;

      padding: 5px;
      background-color: white;
      border: 1px solid $dkgray;
      border-radius: 3px;
      box-shadow: 5px 5px 5px 0px $dkgray;
      text-align: center;
   }
   &--searchbox {
      display: none;
   }

   &--search {
      font-size: 1.7em;
      color: $dkgray;
      display: inline;
      float: left;
      border: 0.5px solid $ltgray;
      padding: 5px 10px;
   }
   &--year {
      font-size: 1.7em;
      color: $dkgray;
      display: inline;
      float: left;
      border: 0.5px solid $ltgray;
      padding: 5px 10px;
   }
   &--zoom--in, &--zoom--out {
      font-size: 1.7em;
      color: $dkgray;
      display: inline;
      float: right;
      padding: 5px 10px;
      border: 0.5px solid $ltgray;

      @include setDeviceStyle(desktop) {
         float: left;
         /*width: 100%;*/
      }
   }
}